#purchase {
    background-image: url('../images/image-8.jpg');
    background-size: cover;
    background-position: 50%;

    position: relative;
    z-index: 0;
    padding: 160px 0;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( 0, 0, 0, 0.65 );
        z-index: -1;
    }

    .content {

        p {
            color: $w;
            font-size: 30px;
            font-weight: 300;
            margin: 0 auto;
            max-width: 760px;
            margin-bottom: 40px;
        }

        a {
            color: $w;
            border: 1px solid $w;
            border-radius: 5px;
            padding: 12px 30px;
            text-decoration: none;

            &:hover, &:active, &:focus {
                background-color: $w;
                color: $c_b;
            }
        }

    }

}