body {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 0;
    z-index: 10000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: auto;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

.header.active {
    background-color: $text-color;
}

.logo {
    a {
        color: $white;
        p {
            font-family: $font2;
            font-size: 22px;
            margin: 0;
            padding: 0 10px 5px;
            border-bottom: 1px groove;
            border-top: 1px groove;
        }
    }
}

.menu-bar {
    cursor: pointer;
    span {
        color: $white;
        font-size: 24px;
        line-height: 47px;
    }
}

.main-menubar {
    position: relative;
}

nav {
    margin-right: 70px;
    @include media-breakpoint-down (sm) {
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 47px;
        text-align: right;
        padding: 20px 0;
        z-index: 5;
        background: $text-color;
        a {
            color: $white !important;
            &:hover, &:active, &:focus {
                color: $white !important;
            }
        }
    }
    @include transition();
    transform-origin: 100% 50%;
    &.hide {
        transform: scale(0);
    }
    a {
        color: rgba($color: $white, $alpha: 0.7);
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 22px;
        display: inline-block;
        @media screen and (max-width: 991px) {
            margin: 0 10px;
        }
        @include media-breakpoint-down (sm) {
            margin: 5px 22px;
        }
        &:hover, &:active, &:focus {
            color: rgba($color: $white, $alpha: 1.0);
        }
    }

    @include media-breakpoint-down (sm) {
        .no-display {
            display: none;
        }
    }
}