// Font Family

$primary-font	: 'Source Sans Pro', sans-serif;
$font2         : 'Kaushan Script', cursive;

/*-------- Color variations --------*/

// $primary-color	: #f7427f;
$primary-color	: #00A277;
$text-color		: #151414;
$bg-color      : #e9fffa;

$white			: #fff;
$offwhite		: #717171;
$black			: #000;